{% extends 'partials/dashboard-base.html' %}
{% load static  %}
{% block content %}
<style>
    th, td{
        white-space: nowrap;
    }
</style>
    <div class="dashboard_content_wrapper">
        <div class="dashboard dashboard_wrapper pr30 pr0-md">
            {% include 'partials/dashboard-sidebar.html' %}
            <div class="dashboard__main pl0-md">
                <div class="dashboard__content bgc-gmart-gray">
                  <div class="row pb50">
                    <div class="col-lg-12">
                      <div class="dashboard_title_area">
                        <h2>Spending Tracker</h2>
                        <a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary">Go Back</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="dashboard_product_list account_user_deails">
                        <div class="row d-block d-sm-flex justify-content-center justify-content-sm-between">
                          <div class="col-sm-6 col-lg-4">
                            <div class="dashboard_page header_search_widget mb30 mb15-520">
                              <h4><b>Total: {{ cs }}{{ total_amount|floatformat:2 }}</b></h4>
                            </div>
                          </div>
                          
                        </div>
                        <div class="order_table table-responsive">
                          <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Month</th>
                                    <th scope="col">Orders</th>
                                    <th scope="col">Spent</th>
                                  </tr>
                            </thead>
                            
                            <tbody>
                                {% for o in output %}
        
                                <tr>
                                  {% if o.month == 1 %}<th scope="row">January</th>{% endif %}
                                  {% if o.month == 2 %}<th scope="row">Febuary</th>{% endif %}
                                  {% if o.month == 3 %}<th scope="row">March</th>{% endif %}
                                  {% if o.month == 4 %}<th scope="row">April</th>{% endif %}
                                  {% if o.month == 5 %}<th scope="row">May</th>{% endif %}
                                  {% if o.month == 6 %}<th scope="row">June</th>{% endif %}
                                  {% if o.month == 7 %}<th scope="row">July</th>{% endif %}
                                  {% if o.month == 8 %}<th scope="row">August</th>{% endif %}
                                  {% if o.month == 9 %}<th scope="row">Septemer</th>{% endif %}
                                  {% if o.month == 10 %}<th scope="row">October</th>{% endif %}
                                  {% if o.month == 11 %}<th scope="row">November</th>{% endif %}
                                  {% if o.month == 12 %}<th scope="row">December</th>{% endif %}
                                  <td>{{o.count}}</td>
                                  <td>{{ cs }}{{o.total|floatformat:2}}</td>
                                </tr>
                                
                                
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock content %}
        