{% extends 'partials/dashboard-base.html' %}
{% load static  %}
{% load crispy_forms_tags %}
{% block content %}
<!-- {{form|crispy}} -->
<style>
    .row{
        overflow: hidden;
    }
</style>
    <div class="dashboard_content_wrapper">
        <div class="dashboard dashboard_wrapper pr30 pr0-md">
            {% include 'partials/dashboard-sidebar.html' %}
            <div class="dashboard__main pl0-md">
                <div class="dashboard__content bgc-gmart-gray">
                    <div class="row pb50">
                        <div class="col-lg-12">
                            <div class="dashboard_title_area">
                                <h2>Select a new waste plan</h2>
                                <!-- <p class="para">Lorem ipsum dolor sit amet, consectetur.</p> -->
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="application_statics">
                                <div class="account_user_deails dashboard_page">
                                    <div class="row row-cols-1 row-cols-md-3 g-4">
                                        
                                        {% for w in waste_plans %}
                                            <div class="col">
                                            <div class="card h-100">
                                                <img src="{{ w.image.url }}" style="width: 100%; height: 250px; object-fit: cover;" class="card-img-top" alt="{{w.name}}'s image">
                                                <div class="card-body">
                                                <h5 class="card-title"><b>{{w.name}}</b></h5>
                                                <p class="card-text">{{ w.description }}</p>
                                                </div>
                                                <div class="card-footer d-flex justify-content-between align-items-center">
                                                <small class="text-dark" style="color: black; font-size: 14px;"><b>Price: {{ cs }}{{ w.price }}</b></small>
                                                <a href="{% url 'dashboard:waste_order_details' w.slug %}" class="btn btn-primary btn-sm">Subscribe <i class="fas fa-cart-shopping"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        {% endfor %}
                                        
                                      </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                    <div class="container">
                        <div class="row items-center justify-content-center justify-content-md-between">
                            <div class="col-auto">
                                <div class="copyright-widget text-center text-lg-start d-block d-lg-flex mb15-md">
                                    <p class="me-4">© 2022 Zeomart. All Rights Reserved</p>
                                    <p><a href="#">Privacy</a> · <a href="#">Terms</a> · <a href="#">Sitemap</a></p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="footer_bottom_right_widgets text-center text-lg-end">
                                    <ul class="mb0">
                                        <li class="list-inline-item mb20-340">
                                            <select class="selectpicker show-tick">
                    <option>Currency : USD</option>
                    <option>Euro</option>
                    <option>Pound</option>
                    </select>
                                        </li>
                                        <li class="list-inline-item">
                                            <select class="selectpicker show-tick">
                    <option>Language: English</option>
                    <option>Frenc</option>
                    <option>Italian</option>
                    <option>Spanish</option>
                    <option>Turkey</option>
                    </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock content %}
        