{% extends 'employee/base.html' %}
            

{% load static  %}
{% block content %}
<style>
    th, td{
        white-space: nowrap;
    }
    #id_image {
    border: 1px dashed #270041;
    align-items: center;
    border-radius: 4px;
    height: 60px;
    width: 150px;
    color: #ffffff;
  }
  #id_image::file-selector-button {
    border: 1px dashed #270041;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    color: 432f9f;
    background-color: #ffffff;
    height: 30px;
    cursor: pointer;
    transition: all 0.25s ease-in;
    margin-top: 14px;
    margin-left: 10px;
  }
</style>
    <div class="dashboard_content_wrapper">
        <div class="dashboard dashboard_wrapper pr30 pr0-md">
            {% include 'employee/sidebar.html' %}
            <div class="dashboard__main pl0-md">
                <div class="dashboard__content bgc-gmart-gray">
                  <div class="row pb50">
                    <div class="col-lg-12">
                      <div class="dashboard_title_area">
                        <h2>Settings</h2>
                        <p class="para">Update Your Profile Informations</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="dashboard_setting_box">
                        <div class="ui_kit_tab style2">
                          <!-- nav tab Nav List Start -->
                          <ul class="nav nav-tabs mb15" id="myTab" role="tablist">
                            <!-- <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="editprofile-tab" data-bs-toggle="tab" data-bs-target="#editprofile" type="button" role="tab" aria-controls="editprofile" aria-selected="true">Edit Profile</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab" aria-controls="password" aria-selected="false">Password</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="socialprofile-tab" data-bs-toggle="tab" data-bs-target="#socialprofile" type="button" role="tab" aria-controls="socialprofile" aria-selected="false">Social Profiles</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="closeaccount-tab" data-bs-toggle="tab" data-bs-target="#closeaccount" type="button" role="tab" aria-controls="closeaccount" aria-selected="false">Close Account</button>
                            </li> -->
                          </ul>
                          <!-- nav tab Nav List End -->
                          <!-- nav tab contents Start -->
                          <div class="tab-content pt20 row" id="myTabContent">
                            <div class="tab-pane fade show active col-lg-12" id="editprofile" role="tabpanel" aria-labelledby="editprofile-tab">
                              <div class="account_details_page form_grid">
                                <form class="contact_form" name="contact_form" action="#" method="POST" novalidate enctype="multipart/form-data">
                                    {% csrf_token %}
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="d-flex align-items-center bb1 mb30 pb30">
                                        <div class="flex-shrink-0">
                                          <img id="shop_cover_image_preview" src="{{request.user.profile.image.url}}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" alt="avatar">
                                        </div>
                                        
                                        <div class="flex-grow-1 ms-4 editing_list">
                                          <h5 class="mb0">Your avatar</h5>
                                          <p class="fz14 heading-color">PNG or JPG no bigger than 800px wide and tall.</p>
                                          {{p_form.image}}
                                        </div>
                                      </div>
                                    </div>

                                    
                                    
                                    <div class="col-md-6">
                                      <div class="form-group mb-4">
                                        <label class="form-label">Full Name</label>
                                        {{p_form.full_name}}
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                          <label class="form-label">Email</label>
                                          {{u_form.email}}
  
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                          <label class="form-label">Username</label>
                                          {{u_form.username}}
  
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group mb-4">
                                        <label class="form-label">Phone Number</label>
                                        {{p_form.phone}}
                                      </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                          <label class="form-label">Address</label>
                                          {{p_form.address}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                          <label class="form-label">City</label>
                                          {{p_form.city}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                          <label class="form-label">State</label>
                                          {{p_form.state}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                          <label class="form-label">Country</label>
                                          {{p_form.country}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="form-group d-grid d-sm-flex mb0">
                                        <button type="submit" class="style2 btn btn-thm me-3 mb15-520">Update Profile</button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="tab-pane fade col-xl-6" id="password" role="tabpanel" aria-labelledby="password-tab">
                              <div class="account_details_page form_grid">
                                <form class="contact_form" name="contact_form" action="#" method="post" novalidate>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="form-group mb-4">
                                        <label class="form-label">Current password</label>
                                        <input class="form-control" type="text" placeholder="Your Password">
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="form-group mb-4">
                                        <label class="form-label">New password</label>
                                        <input class="form-control" type="text" placeholder="Your Password">
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="form-group mb30">
                                        <label class="form-label">Confirm New Password</label>
                                        <input class="form-control email" type="email" placeholder="Your Email">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="form-group d-grid d-sm-flex mb0">
                                        <button type="button" class="style2 btn btn-thm me-3 mb15-520">Update Password</button>
                                        <button type="button" class="style2 btn btn-white">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="tab-pane fade col-xl-8" id="socialprofile" role="tabpanel" aria-labelledby="socialprofile-tab">
                              <div class="account_details_page form_grid">
                                <form class="contact_form" name="contact_form" action="#" method="post" novalidate>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group mb-4">
                                        <label class="form-label">Facebook</label>
                                        <input class="form-control" type="text" placeholder="Facebook">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group mb-4">
                                        <label class="form-label">Twitter</label>
                                        <input class="form-control" type="text" placeholder="Twitter">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group mb-4">
                                        <label class="form-label">Intagram</label>
                                        <input class="form-control" type="text" placeholder="Intagram">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group mb30">
                                        <label class="form-label">Linkedin</label>
                                        <input class="form-control" type="text" placeholder="Linkedin">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="form-group d-grid d-sm-flex mb0">
                                        <button type="button" class="style2 btn btn-thm me-3 mb15-520">Update Social Profile</button>
                                        <button type="button" class="style2 btn btn-white">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="tab-pane fade col-xl-8" id="closeaccount" role="tabpanel" aria-labelledby="closeaccount-tab">
                              <div class="account_details_page form_grid">
                                <form class="contact_form" name="contact_form" action="#" method="post" novalidate>
                                  <div class="row">
                                    <div class="col-md-10">
                                      <h5>Close account</h5>
                                      <p class="fz15 heading-color">Warning: If you close your account, you will be unsubscribed from all your 5 courses, and will lose access forever.</p>
                                    </div>
                                    <div class="col-md-8">
                                      <div class="form-group mb30">
                                        <label class="form-label">Enter Password</label>
                                        <input class="form-control" type="text" placeholder="Enter Password">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="form-group d-grid d-sm-flex mb0">
                                        <button type="button" class="style2 btn btn-thm me-3 mb15-520">Close Account</button>
                                        <button type="button" class="style2 btn btn-white">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <!-- nav tab contents End -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="dashboard_footer pt30 pb30">
                  <div class="container">
                    <div class="row items-center justify-content-center justify-content-md-between">
                      <div class="col-auto">
                        <div class="copyright-widget text-center text-lg-start d-block d-lg-flex mb15-md">
                          <p class="me-4">© 2022 Zeomart. All Rights Reserved</p>
                          <p><a href="#">Privacy</a>  ·  <a href="#">Terms</a>  ·  <a href="#">Sitemap</a></p>
                        </div>
                      </div>
                      <div class="col-auto">
                  <div class="footer_bottom_right_widgets text-center text-lg-end">
                    <ul class="mb0">
                      <li class="list-inline-item mb20-340">
                              <select class="selectpicker show-tick">
                                <option>Currency : USD</option>
                                <option>Euro</option>
                                <option>Pound</option>
                              </select>
                            </li>
                            <li class="list-inline-item">
                              <select class="selectpicker show-tick">
                                <option>Language: English</option>
                                <option>Frenc</option>
                                <option>Italian</option>
                                <option>Spanish</option>
                                <option>Turkey</option>
                              </select>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>
        </div>
    </div>
    <script>
      var loadFile = function (event) {
        var output2 = document.getElementById(
          "shop_cover_image_preview"
        );
        output2.src = URL.createObjectURL(
          event.target.files[0]
        );
        output2.onload = function () {
          URL.revokeObjectURL(output2.src); // free memory
        };
      };
    </script>
{% endblock content %}
        